/* All */

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@font-face { font-family: Wii; src: url('assets/fonts/Wii.ttf'); } 

a, body {
  text-decoration:none;
  color:#37cecb;
  font-family: Quicksand;
  text-align: center;
}
a:hover {
  color: rgb(18, 115, 124);
}

body {
  background-color: #0c3b3b;
}



/* Home */

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.links {
  font-family: Quicksand;
  font-size: 40px;
  text-align: center;
}

.back {
  text-align: left;
  text-align: top;
  margin-left: 1%;
  margin-top: 1%;
}

/* bot */
iframe {
  display: block;
  margin: 0 auto;
}

/* goodies */
.wiititle {
  font-family: "Wii";
  font-size: 50px;
  color: #34BEED;
  font-weight: bold;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  position: relative;
  text-align: center;
  font-size: large;
  color: #000000;
}

